.git
.github
.idea
.vscode
.fleet
.zed
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.*
!.env.example
Dockerfile
docker-compose.yml
npm-debug.log
yarn-error.log
.phpunit.cache
.phpunit.result.cache
tests
